@font-face {
    font-family: 'Hangeul Jaemin 3.0';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/HangeulJaemin3.0/HangeulJaemin3.0.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/HangeulJaemin3.0/HangeulJaemin3.0.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/HangeulJaemin3.0/HangeulJaemin3.0.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/HangeulJaemin3.0/HangeulJaemin3.0.ttf') format('truetype');
}
