@font-face {
    font-family: 'Hangeul Jaemin 3';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/HangeulJaemin3/HangeulJaemin3.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/HangeulJaemin3/HangeulJaemin3.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/HangeulJaemin3/HangeulJaemin3.otf') format('opentype'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/HangeulJaemin3/HangeulJaemin3.ttf') format('truetype');
}
